.card {
    margin-bottom:80px;
}

.JobDetail {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    min-height: 50vh;
}

.JobDetail .card {
    width: 80%;
    background-color: rgba(251, 251, 251, 0.886);
    box-shadow:  0.1em 0.2em 0.2em #f7f7f7b8,
                -0.1em 0.2em 0.2em #f7f7f7b8;
}

.JobDetail .card-header {
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3a161dd1;
    color: white;
    box-shadow:  0.1em 0em 0.1em #3a161dd1,
                -0.1em 0em 0.1em #3a161dd1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.JobDetail .updateButton {
    margin-right: 20px;
}

.JobDetail .CompanyAndLocation, .JobDetail .Employer {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.JobDetail .postdate {
    margin-bottom: 25px;
}

.JobDetail .Employer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.Employer div {
    margin-bottom: 10px;
}

.DescriptionTitle {
    margin-top: 50px;
}

.DescriptionDisplay {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 90%;
}

.likeButton {
    width: 100px;
}

.form-select {
    max-width: 200px;
}

@media(max-width: 540px) {
    .firstPart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstPart .card-title, .DescriptionTitle {
        font-size: 1em;
        text-align: center;
    }

    .JobDetail .Employer {
        font-size: 0.8em;
    }

    .likeButton {
        width: 80px;
    }
}