
.Navibar {
    /* position: absolute; */
    background: none;
    /* background-color: rgb(95, 93, 93); */
}

.Buttons {
    text-align: right;
    width: 100%;
    /* background-color: rgb(221, 216, 216); */
}

.Buttons button {
    background: none;
    border: none;
    font-size: 1.2em;
    margin: 10px 20px 5px 20px;
    color: rgb(56, 55, 55);
}

.Buttons button:hover {
    color: rgb(122, 50, 50);
    text-decoration: underline;
}

.UserIcon {
    font-size: 2em;
    margin-left: 10px;
    margin-right: 5px;
}

.UserNameButton:hover {
    color: rgb(56, 55, 55);
    text-decoration: none;
}