@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.ResultTitle {
    text-align: center;
    padding-top: 100px;
    font-family: 'Outfit', sans-serif;
}

.JobList {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    flex-direction: column;
    gap: 40px;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}


