
body {
    margin: 0;
}


.Background {
    position: absolute;
    margin: 0;
    background-image: url('./Background.jpg');
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}